.container-contract {
  .wrap-contract {
    .grid-contract {
      display: grid;
      grid-template-columns: 1fr 4fr 2fr 2fr 1fr;
      gap: .5rem;
      place-items: center;
    }
    .col-header {
      background-color: #767676;
      padding: .5rem;
      border-radius: .5rem;
      .th {
        color: white;
      }
    }
    .col-body {
      padding: .5rem;
      border-radius: .5rem;
      &:nth-child(odd) {
        background-color: #EAEAEA;
      }
      &:nth-child(even) {
        background-color: #fff;
      }
      .td {
        color: #767676;
        text-transform: capitalize;
        .btn {
          cursor: pointer;
        }
      }
    }
  }
}
