<nav mat-tab-nav-bar ngClass="tabs" aria-label="menu-principal">
    <div>
        <a #cargaCatalogos mat-tab-link routerLink="/satCatalogos" activa='none' routerLinkActive="active-link" (click)="lineMenu($event, 'none')"
            class="sub-menu-dsp">Catálogos de puestos</a>
        <label></label>
    </div>
    <div>
        <a mat-tab-link routerLink="/satParam" routerLinkActive="active-link" (click)="lineMenu($event, 'none')"
            class="sub-menu-dsp">Perfiles</a>
        <label></label>
    </div>
    <div>
        <a mat-tab-link routerLink="/satCargaRegistro" routerLinkActive="active-link" (click)="lineMenu($event, 'none')"
            class="sub-menu-dsp">Grupos</a>
        <label></label>
    </div>
    <div>
        <a mat-tab-link routerLink="/satConsultaRegistro" routerLinkActive="active-link" (click)="lineMenu($event, 'none')"
            class="sub-menu-dsp">Centro de Costos</a>
        <label></label>
    </div>
    <div>
        <a mat-tab-link routerLink="/satProgramacion" routerLinkActive="active-link" (click)="lineMenu($event, 'none')"
            class="sub-menu-dsp">Patametros</a>
        <label></label>
    </div>
    
</nav>