<div class="container mr-top-40">
  <app-form-busqueda-constancias #formBusqueda [tipoConsulta]="tipoConsulta" (cleanSelection)="cleanSelection()" [paginator]="paginator" ></app-form-busqueda-constancias>
  <app-form-filtro-tabla
    #filterTable
    [_dataSource]="formBusqueda.constanciasList"
    [_rowsFilter]="['tipo','institucion','ejercicioFiscal','rfc','nombre','cod_cliente','cuenta','participacion_cliente','folio','estatus']"
    [_paginator]="paginator"
    (changeEventInput)="onValueChangeInput($event)"
    *ngIf="formBusqueda.constanciasList.data.length > 0">
  </app-form-filtro-tabla>
  <div class="container-scroll mat-elevation-z8 mt-3">
      <table mat-table [dataSource]="formBusqueda.constanciasList" multiTemplateDataRows>
        <caption class="visually-hidden">LISTADO CCFF PARA EXTRACCIÓN DE DOCUMENTOS</caption>
        <ng-container matColumnDef="id">
          <th scope="col" mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [disabled]="formBusqueda.constanciasList.data.length === 0"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let constancia">
            <mat-checkbox (click)="$event.stopPropagation()" [disabled]="constancia.disabled"
                      (change)="$event ? selection.toggle(constancia) : null"
                      [checked]="selection.isSelected(constancia)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="tipo">
          <th scope="col" mat-header-cell *matHeaderCellDef>Tipo de constancia</th>
          <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> {{constancia.tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="institucion">
          <th scope="col" mat-header-cell *matHeaderCellDef>Institución</th>
          <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> {{constancia.institucion}} </td>
        </ng-container>
        <ng-container matColumnDef="ejercicioFiscal">
            <th scope="col" mat-header-cell *matHeaderCellDef class="text-center">Ejercicio fiscal</th>
            <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked" class="text-center"> {{constancia.ejercicioFiscal}} </td>
        </ng-container>
        <ng-container matColumnDef="rfc">
          <th scope="col" mat-header-cell *matHeaderCellDef>RFC cliente</th>
          <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> {{constancia.rfc}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th scope="col" mat-header-cell *matHeaderCellDef>Nombre cliente</th>
            <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> {{constancia.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="cod_cliente">
          <th scope="col" mat-header-cell *matHeaderCellDef>Código cliente</th>
          <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> {{constancia.cod_cliente}} </td>
        </ng-container>
        <ng-container matColumnDef="cuenta">
            <th scope="col" mat-header-cell *matHeaderCellDef>Número de cuenta/proveedor</th>
            <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> {{constancia.cuenta}} </td>
        </ng-container>
        <ng-container matColumnDef="participacion_cliente">
          <th scope="col" mat-header-cell *matHeaderCellDef>Participación del cliente</th>
          <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> {{constancia.participacion_cliente}} </td>
        </ng-container>
        <ng-container matColumnDef="folio">
          <th scope="col" mat-header-cell *matHeaderCellDef>Folio constancia</th>
          <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> {{constancia.folio}} </td>
        </ng-container>
        <ng-container matColumnDef="estatus">
          <th scope="col" mat-header-cell *matHeaderCellDef>Estatus</th>
          <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> {{constancia.estatus}} </td>
        </ng-container>
        <ng-container matColumnDef="pdf">
          <th scope="col" mat-header-cell *matHeaderCellDef>Visualizar PDF</th>
          <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> 
            <button mat-icon-button (click)="visualizarPDF(constancia)" [disabled]="constancia.disabled"><mat-icon>picture_as_pdf</mat-icon></button>
          </td>
        </ng-container>
        <ng-container matColumnDef="xml">
          <th scope="col" mat-header-cell *matHeaderCellDef>Descargar XML</th>
          <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> 
            <button mat-icon-button (click)="descargarXML(constancia)" [disabled]="constancia.disabled"><mat-icon>get_app</mat-icon></button> 
          </td>
        </ng-container>
        <ng-container matColumnDef="detalle">
          <th scope="col" mat-header-cell *matHeaderCellDef>Detalle</th>
          <td mat-cell *matCellDef="let constancia" [matTooltip]="constancia.disabled ? 'Constancia bloqueda' : ''" matTooltipClass="tooltip-blocked"> 
            <button mat-icon-button (click)="verDetalle(constancia)" class="btnDetalle" id="plus{{constancia.id}}" [disabled]="constancia.disabled"><mat-icon>add_circle_outline</mat-icon></button> 
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let constancia" [attr.colspan]="displayedColumns.length">
            <div class="divSellos d-none" id="detalle{{constancia.id}}">
              <div class="row">
                <div class="col-md-3" *ngFor="let sello of sellosDetalle">
                  <button mat-icon-button  (click)="descargarSello(sello)" class="text-decoration-none">
                    <img src="../../../../assets/iconos/download-xml.png" alt="Descargar Sello"/>
                    {{sello.nombre}}
                  </button>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" [ngClass]="{'cell-disabled': element.disabled}"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detalle-tr"></tr>
      </table>
      <mat-paginator showFirstLastButtons="true" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <div *ngIf="formBusqueda.constanciasList.data.length > 0" class="row mt-3 mb-2">
    <div class="col-md-12 text-align-r">
      <button type="button" mat-raised-button color="primary" (click)="generarZIP()">Crear ZIP</button>
    </div>
  </div>
</div>
