<nav mat-tab-nav-bar ngClass="tabs" aria-label="menu-principal">
    <div>
        <a mat-tab-link routerLink="/ttoCarga" routerLinkActive="active-link" (click)="lineMenu($event, 'none')"
            class="sub-menu-dsp">Carga de Archivos</a>
        <label></label>
    </div>
    <div>
        <a mat-tab-link routerLink="/ttoDescarga" routerLinkActive="active-link" (click)="lineMenu($event, 'none')"
            class="sub-menu-dsp">Descarga de Archivos</a>
        <label></label>
    </div>
    
</nav>